/* Determinant Calculator */

  .dtrmn_colsf {
      margin: 10px 0;
      display: inline-block;
  }
  .dtrmn_cols {
      margin: 10px 0;
      display: inline-block;
  }

/* Determinant Calculator */