

/* Diamond Problem Solver */

  .heading>p {
      position: absolute;
      left: 120px;
      top: 0px;
  }

  .resh tbody tr, td {
      border: none;
  }

  .swann tbody tr, td {
      border: none;
  }

  .answer {
      position: relative;
      height: 100px;
      /* this can be anything */
      width: 100%;
      /* ...but maintain 1:1 aspect ratio */
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .answer::before, .answer::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      background-color: #000000;
  }

  .answer::before {
      transform: rotate(45deg);
  }

  .answer::after {
      transform: rotate(-45deg);
  }
/* Diamond Problem Solver */