

/* Double Integral Calculator */


.integral_input{
      height: 30px!important;
    background: var(--white)!important;
    padding-left: 5px!important;
    border: 1px solid #D2D4D8!important;
    border-radius: 5px!important;
    color: var(--black)!important;
    font-size: 15px!important;
    box-sizing: border-box!important;
    width: 35px!important;
    outline: 0!important;
    min-width: 35px!important;
    max-width: 200px!important;
    }
    .integ_symb{
        font-size: 7rem;
        line-height: normal;
    }
    .bracket_symbol{
        font-size: 5rem;
    }
    @media (max-width: 480px){
        .integ_symb{
            font-size: 4rem;
        }
        .bracket_symbol{
            font-size: 3rem;
        }
        #lby,#lbx{
            margin-top: 5px !important
        }
        #ubx,#uby{
            margin-bottom: 0px !important
        }
    }
    .topCancel{
        top: 0px;
        right: 0px;
        background-color: red;
        border-radius: 50%
    }
    .topCancel:hover{
        background-color: rgb(167, 74, 74);
    }
    .object-fit-contain{
        object-fit: contain
    }
    .gap-10{
        gap: 10px
    }
    .cropBtn{
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .croppie-container {
        height: auto !important
    }

    .icon_animation {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 80px;
    }
    .icon_animation samp {
        display: inline-block;
        position: absolute;
        left: 0; /* Adjusted to start from the left edge */
        background: #EEF1F5;
        animation: icon_animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        height: 8px;
    }
    .main_area .icon_sty:hover .icon_animation samp {
        background: #fff;
    }

    .icon_animation samp:nth-child(1) {
        top: 10px;
        animation-delay: -0.24s;
    }
    .icon_animation samp:nth-child(2) {
        top: 28px;
        left: 0; /* Starts from the left edge */
        animation-delay: -0.12s;
    }
    .icon_animation samp:nth-child(3) {
        top: 47px;
        animation-delay: 0s;
    }

    .icon_animation samp:nth-child(4) {
        top: 66px; /* Adjusted for 4th element */
        animation-delay: 0.12s; /* Slightly delayed */
    }
    .icon_animation samp:nth-child(5) {
        top: 85px; /* Adjusted for 5th element */
        animation-delay: 0.24s; /* Further delayed */
    }

    @keyframes icon_animation {
        0% {
            left: 0;
            width: 0;
        }
        50%, 100% {
            left: 0; /* Stays at the left edge */
            width: 100%; /* Expands to full width */
        }
    }

    #responseContainer{
        line-height: 2
    }
    .position-absolute{
        position: absolute
    }
    /* Double Integral Calculator */