/* Long Multiplication Calculator */


  .result .tableAns tr td{ 
      border: 1px solid #ddd;
      padding: 10px 15px 
  }
  .bdr_btm{
      border-bottom: 3px solid #000 !important;
  }
  .bdr_top{
      border-top: 3px solid #000 !important;
  }

/* Long Multiplication Calculator */