
/* Million Billion Lakh & Crore Converter */
       .people_also{
        border: 1px solid #ddd;
        padding: 5px 8px;
        text-align: left;
        cursor: pointer;
        width: 100%;
        font-size: 14px;
        color: #000000a3;
        border-radius: 5px;
        background: #F8F8F8;
    }
    .people_also:hover{
        background: #0081B0;
        color: #fff;
    }
    /* Million Billion Lakh & Crore Converter */
