  /* Order of Operations Calculator */
     .hitman{
          display:block;
      }
      .dk{
          margin-bottom:40px;
      }
      .pp{
          padding-left:18px;
      }
      /* /Order of Operations Calculator */